<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
<body>
    
<div id="portada">

<h1 class ="apettito"> 
  <svg width="395" height="63" viewBox="0 0 390 63" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M182.5 6.875L162.167 20.625V48.125H202.833V20.625L182.5 6.875ZM183.771 28.6458C183.771 30.5479 182.068 32.0833 179.958 32.0833V41.25H177.417V32.0833C175.307 32.0833 173.604 30.5479 173.604 28.6458V21.7708H176.146V28.6458H177.417V21.7708H179.958V28.6458H181.229V21.7708H183.771V28.6458ZM190.125 41.25H187.583V33.2292H185.042V26.3542C185.042 23.8333 187.329 21.7708 190.125 21.7708V41.25Z" fill="#FFC700"/>
  <g filter="url(#filter0_d_47_18)">
  <path d="M50.2777 46H43.5277L55.8175 11.0909H63.6243L75.9311 46H69.1811L59.8572 18.25H59.5845L50.2777 46ZM50.4993 32.3125H68.9084V37.392H50.4993V32.3125ZM80.5291 46V11.0909H93.62C96.3018 11.0909 98.5518 11.5909 100.37 12.5909C102.2 13.5909 103.58 14.9659 104.512 16.7159C105.455 18.4545 105.927 20.4318 105.927 22.6477C105.927 24.8864 105.455 26.875 104.512 28.6136C103.569 30.3523 102.177 31.7216 100.336 32.7216C98.495 33.7102 96.228 34.2045 93.5348 34.2045H84.8587V29.0057H92.6825C94.2507 29.0057 95.5348 28.733 96.5348 28.1875C97.5348 27.642 98.2734 26.892 98.7507 25.9375C99.2393 24.983 99.4837 23.8864 99.4837 22.6477C99.4837 21.4091 99.2393 20.3182 98.7507 19.375C98.2734 18.4318 97.5291 17.6989 96.5178 17.1761C95.5178 16.642 94.228 16.375 92.6484 16.375H86.853V46H80.5291ZM114.948 41.8068C113.914 41.8068 113.028 41.4432 112.289 40.7159C111.55 39.9773 111.187 39.0909 111.198 38.0568C111.187 37.0341 111.55 36.1591 112.289 35.4318C113.028 34.7045 113.914 34.3409 114.948 34.3409C115.948 34.3409 116.817 34.7045 117.556 35.4318C118.306 36.1591 118.687 37.0341 118.698 38.0568C118.687 38.75 118.505 39.3807 118.153 39.9489C117.812 40.517 117.357 40.9716 116.789 41.3125C116.232 41.642 115.619 41.8068 114.948 41.8068ZM114.948 24.5057C113.914 24.5057 113.028 24.142 112.289 23.4148C111.55 22.6761 111.187 21.7898 111.198 20.7557C111.187 19.733 111.55 18.858 112.289 18.1307C113.028 17.392 113.914 17.0227 114.948 17.0227C115.948 17.0227 116.817 17.392 117.556 18.1307C118.306 18.858 118.687 19.733 118.698 20.7557C118.687 21.4375 118.505 22.0625 118.153 22.6307C117.812 23.1989 117.357 23.6534 116.789 23.9943C116.232 24.3352 115.619 24.5057 114.948 24.5057ZM125.342 46V11.0909H138.433C141.114 11.0909 143.364 11.5909 145.183 12.5909C147.012 13.5909 148.393 14.9659 149.325 16.7159C150.268 18.4545 150.739 20.4318 150.739 22.6477C150.739 24.8864 150.268 26.875 149.325 28.6136C148.381 30.3523 146.989 31.7216 145.148 32.7216C143.308 33.7102 141.04 34.2045 138.347 34.2045H129.671V29.0057H137.495C139.063 29.0057 140.347 28.733 141.347 28.1875C142.347 27.642 143.086 26.892 143.563 25.9375C144.052 24.983 144.296 23.8864 144.296 22.6477C144.296 21.4091 144.052 20.3182 143.563 19.375C143.086 18.4318 142.342 17.6989 141.33 17.1761C140.33 16.642 139.04 16.375 137.461 16.375H131.665V46H125.342ZM215.763 46V11.0909H238.468V16.392H222.087V25.8693H237.292V31.1705H222.087V40.6989H238.604V46H215.763ZM243.386 16.392V11.0909H271.238V16.392H260.448V46H254.175V16.392H243.386ZM282.931 11.0909V46H276.607V11.0909H282.931ZM288.245 16.392V11.0909H316.097V16.392H305.308V46H299.035V16.392H288.245ZM351.113 28.5455C351.113 32.3068 350.408 35.5284 348.999 38.2102C347.602 40.8807 345.692 42.9261 343.272 44.3466C340.863 45.767 338.13 46.4773 335.073 46.4773C332.016 46.4773 329.278 45.767 326.857 44.3466C324.448 42.9148 322.539 40.8636 321.13 38.1932C319.732 35.5114 319.033 32.2955 319.033 28.5455C319.033 24.7841 319.732 21.5682 321.13 18.8977C322.539 16.2159 324.448 14.1648 326.857 12.7443C329.278 11.3239 332.016 10.6136 335.073 10.6136C338.13 10.6136 340.863 11.3239 343.272 12.7443C345.692 14.1648 347.602 16.2159 348.999 18.8977C350.408 21.5682 351.113 24.7841 351.113 28.5455ZM344.755 28.5455C344.755 25.8977 344.34 23.6648 343.511 21.8466C342.692 20.017 341.556 18.6364 340.102 17.7045C338.647 16.7614 336.971 16.2898 335.073 16.2898C333.175 16.2898 331.499 16.7614 330.045 17.7045C328.59 18.6364 327.448 20.017 326.619 21.8466C325.8 23.6648 325.391 25.8977 325.391 28.5455C325.391 31.1932 325.8 33.4318 326.619 35.2614C327.448 37.0795 328.59 38.4602 330.045 39.4034C331.499 40.3352 333.175 40.8011 335.073 40.8011C336.971 40.8011 338.647 40.3352 340.102 39.4034C341.556 38.4602 342.692 37.0795 343.511 35.2614C344.34 33.4318 344.755 31.1932 344.755 28.5455Z" fill="#F44141"/>
  </g>
  <defs>
  <filter id="filter0_d_47_18" x="39.5277" y="10.6136" width="315.585" height="43.8636" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
  <feOffset dy="4"/>
  <feGaussianBlur stdDeviation="2"/>
  <feComposite in2="hardAlpha" operator="out"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_47_18"/>
  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_47_18" result="shape"/>
  </filter>
  </defs>
  </svg>
</h1>


<button class="start-button1"><a class="button-link1" href="/auth/login">LOG IN</a></button>


<div id="create-account">

<p> Don't you have an account yet? <a id="sign-up" href="/auth/signup"> Sign up </a> </p>

</div>
</div>


</body>
</html>




