*{
  margin: 0;
  box-sizing: border-box;
}

body {

  font-family: 'Poppins';
  font-style: normal;
  margin: 0px 0px 0px 0px;
}
/* 
h1 { */
/* Group 2 */
/* width: 396px;
height: 63px;
margin-top: 90px;

position: absolute;
width: 396px;
height: 63px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;

color: #F44141;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

#portada{
background-image:url(../images/sushibackground.png);
background-size: cover;
width: 379px;
height: 849px;
margin: 0px 0px 0px 0px;
}

#start-button{
  background: #FFB039;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 600px;
  margin-left: 100px;
  padding: 5px 55px 5px 55px;
  border-color: #FFB039;
  
}

#button-link{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #A33838!important;
  text-decoration: none !important;
}

#sign-up{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #E33838 !important;
  text-decoration: none !important;
}


p{

/* Don’t you have an account yet? Sign up */

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #FFFFFF;


}

a {
  color: #00b7ff;
  text-decoration: none;
}
.heading{
  font-size: 1.5rem;
  text-align: center;
  color: red
}
.anchor{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rest-names {
  position: relative;
  top: 100px;
  left: 5px;
  z-index: 8;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}


.rest-list{
width: 100vw;
display: flex;
flex-direction: column;
}

.rest-list img {
width: 85vw;
height: 20vh;
z-index: 1;
opacity: 0.8;
border-radius: 15px;
}


.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.filters button {
  border-radius: 10px;
  border-color: #fa6763;
  background-color: #fa6763;
  color: white;
  border-style: dashed;
}

.filters img {
  width: 6.5vw;
}


#logo {
  position: relative;
  top: -150px;
}

.nav {
  height: 270px;
}

.filt-options select {
  border-radius: 10px;
  border-color: #fa6763;
  color: #fa6763;
}

.filt-options {
  text-transform: uppercase;
  font-weight: bold;
}




/*/ user profile
/*/

.userProfile {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
font-size: 10px;
height: 30vh;
gap: 30px;
}

.userProfile h1 {
color: black;
font-size: 1,5rem;

}
.username{
  color: 	red;
  font-size: 2rem;
}
.userEmail{
color: black;
font-size: 1rem;

}
.user-info{
display: flex;
flex-direction: column;
gap: 20px;
height: 40%;

}

#logout-form {
align-items: space-between;
justify-content: center;
}

.theNameSize {
font-size: 30px;}


/*/ user profile
/*/


.favorite-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fa6763;
  text-transform: uppercase;
  font-weight: bold;
}


.favorite-list img {
  width: 85vw;
  height: 20vh;
  z-index: 1;
  opacity: 0.8;
  border-radius: 15px;
  margin-bottom: 10px;
}

.favorite-list button {
  border-radius: 10px;
  border-color: #fa6763;
  background-color: #fa6763;
  color: white;
  border-style: dashed;
}

.btn-user {
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;

}

.btn-user a{
color: black;
border: 1px solid black;
padding:10px 50px ;
border: none;
width: 60%;
text-align: center;
background: #FFB039;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
font-size: 20px;


}

.logourForm{
  width: 59%;
}

.buttonLogout{ 
  color: black;
  border: 1px solid black;
  padding:10px 50px ;
  font-size: 20px;
  border: none;
  width: 100%;
text-align: center;
background: #FFB039;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;

}
