*{
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}
.heading{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 50px;
}
.anchor{
  width: 100%;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.rest-names {
  position: relative;
  top: 100px;
  left: 5px;
  z-index: 8;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}


.rest-list{
width: 100vw;
display: flex;
flex-direction: column;
gap: 30px;
margin-bottom: 20px;

}
.rest-list img {
width: 75vw;
height: 20vh;
z-index: 1;
opacity: 0.8;
}




/* .rest-list img {
  width: 75vw;
  opacity: 50%;
  
} */
