<div id="login-form">
  <h2>Log In</h2>
  <form action="/auth/login" method="POST">

<div id="data">
    <label> Email:
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password:
      <input type="password" name="password" placeholder="Your password" />
    </label>

</div>
<div id="button">
    <button type="submit">Log In</button>
</div>

</div>
<div>
    <p>Forgot Password</p>
</div>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>