<div id="login-form">

  <h2 class = "welcome">Welcome to AP:PETITO</h2>

<form action="/auth/login" method="POST">

<div class="email">
    <label> Email:
      <input type="email" name="email" placeholder="Your email" />
    </label>
</div>
<div class="password">
    <label> Password:
      <input type="password" name="password" placeholder="Your password" />
    </label>

</div>

<div id="create-account">

<button class="start-button2">LOG IN</button>

<p>Forgot Password</p>

</div>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>