 <div id="form">
   <h2 class = "welcome">Welcome to AP:PETITO</h2>

  <form action="/auth/signup" method="POST">

  <div class="username">
    <label> Username
      <input type="text" name="username" placeholder="Your username" />
    </label>
  </div>

    <div class="email">
      <label> Email
        <input type="email" name="email" placeholder="Your email" />
        </label>
    </div>
    
    <div class="password">
      <label> Password
        <input type="password" name="password" placeholder="Your password" />
    </label>
    </div>
    
    <div id="Admin">
      <label> Are you an Owner?
        <input type="radio" name="admin">
         </label>
    </div>


  <button type="submit" class="start-button2"><a class="button-link2"href="/auth/login"> SIGN UP </a></button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>