    <div class = "userProfile">
        <h1>Welcome</h1>
        <div class="user-info">
        <p class="username">{{user.username}}</p>
        <p class="userEmail">{{user.email}}</p>
        </div>
    </div>
<form id="userForms" action="auth/logout" method="POST">
<div class="button">
<button >Logout</button>
</div>
</form>
