


    <div class = "userProfile">
        <h1>Welcome to your profile</h1>
        <div class = "theNameSize">
        <p>{{user.username}}</p>
        </div>
        <p>{{user.email}}</p>
    </div>
      

<form id="userForms" action="auth/logout" method="POST">
<button>Logout</button>
</form>
<form id="userForms" action="restaurant/restaurant-list" method="POST">
<button>Restaurants List</button>
</form>
<form id="userForms" action="restaurant/Favorites" method="POST">
<button>My Favorites</button>
</form>

