<h1>My Favorites</h1>

{{#each dbFavorites}}
    <img src="{{this.restaurant.picture}}"/>
    <a href="/restaurants/{{this.restaurant._id}}"> Check this restaurant</a>
    <form action="/favorites/{{this._id}}/delete" method="POST">
        <button>delete</button>
    </form>
{{/each}}
